@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.TopNav {
  grid-column-start: 1;
  grid-column-end: 9;
  width: 95%;
  min-width: 320px;
  /* min-height: 100%; */
  height: 125px;
  border-radius: 10px;
  margin: 2.5% 10px;
  /* background: #3C3230;
  color: #eeebd9; */
  background: #3a3846;
  color: white;
  line-height: 168%;
  text-align: left;
  padding: 10px;
}

.topLink {
  display: inline-block;
  padding-left: 10px;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

.topLink:active, .topLink:hover {
  transition: all 0.3s ease-in;
  /* background: #9E4624; */
  background: #636363;
}

.topLink > a {
  font-size: 1em;
}

@media screen and (max-width: 380px) {
  .topLink {
    width: 50%;
  }
  .TopNav {
    padding: 5px;
  }

}